

<div ng-app="myapp">
    <div ng-controller="dashboardCtrl">
        {{Message}}

    </div>
</div>


 
<script src="~/Scripts/angular.min.js"></script>   
<script src="~/ScriptsNg/Module/app.js"></script>
<script src="~/ScriptsNg/Controller/DashboardCtrl.js"></script>

